Repository emacs-eask/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, CI

Log cmd output when DEBUG is set
  package.json
  test-js/helpers.js
Labels: none

Fix config.test.js
  test-js/config.test.js
Labels: none

Remove pull_request trigger for docs workflow
  .github/workflows/docs.yml
Labels: CI

Move other test workflows to deprecated
  .github/workflows/deprecated/docker.yml
  .github/workflows/deprecated/exit_status.yml
  .github/workflows/deprecated/global.yml
  .github/workflows/deprecated/install.yml
  .github/workflows/deprecated/local.yml
  .github/workflows/deprecated/test_ecukes.yml
  .github/workflows/deprecated/test_ert-runner.yml
  .github/workflows/deprecated/test_ert.yml
Labels: CI

Reduce CI cases for Jest Tests
  .github/workflows/jest.yml
Labels: CI

docs: Add install from repo
  docs/content/FAQ/_index.en.md
  docs/content/FAQ/_index.zh-tw.md
Labels: documentation

ci: only checkout docs repo when on master
  .github/workflows/docs.yml
Labels: CI

ci: use bundled theme rather than building
  .github/workflows/docs.yml
Labels: CI

docs: Use built in subtitle params
  docs/config/_default/config.yaml
  docs/static/custom.css
  docs/static/main.js
Labels: documentation

ci: only checkout docs repo when on master (#310)
  .github/workflows/docs.yml
Labels: CI

ci: Remove unnecessary run on docs
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/compat.yml
  .github/workflows/compile.yml
  .github/workflows/config.yml
  .github/workflows/deprecated/color.yml
  .github/workflows/deprecated/error.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/emacs.yml
  .github/workflows/exec.yml
  .github/workflows/exit_status.yml
  .github/workflows/global.yml
  .github/workflows/install.yml
  .github/workflows/link.yml
  .github/workflows/local.yml
  .github/workflows/options.yml
  .github/workflows/outdated_upgrade.yml
  .github/workflows/search.yml
  .github/workflows/test_buttercup.yml
  .github/workflows/test_ecukes.yml
  .github/workflows/test_ert-runner.yml
  .github/workflows/test_ert.yml
Labels: CI

ci: Ignore mkdir error
  .github/workflows/docs.yml
Labels: CI

ci: Remove unnecessary run on docs (#311)
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/compat.yml
  .github/workflows/compile.yml
  .github/workflows/config.yml
  .github/workflows/deprecated/color.yml
  .github/workflows/deprecated/error.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/emacs.yml
  .github/workflows/exec.yml
  .github/workflows/exit_status.yml
  .github/workflows/global.yml
  .github/workflows/install.yml
  .github/workflows/link.yml
  .github/workflows/local.yml
  .github/workflows/options.yml
  .github/workflows/outdated_upgrade.yml
  .github/workflows/search.yml
  .github/workflows/test_buttercup.yml
  .github/workflows/test_ecukes.yml
  .github/workflows/test_ert-runner.yml
  .github/workflows/test_ert.yml
Labels: CI

Update docs.yml
  .github/workflows/docs.yml
Labels: CI

ci: Don't trigger docs but trigger other workflows
  .github/workflows/analyze.yml
Labels: CI

Add testUnsafe helper and config.test.js
  package.json
  test-js/config.test.js
  test-js/helpers.js
Labels: none

Port analyze tests
  test-js/analyze.test.js
  test-js/dsl/.gitignore
  test-js/dsl/Eask
  test-js/dsl/check-dsl.el
  test-js/empty/.gitkeep
  test-js/metadata/.gitignore
  test-js/metadata/Eask
  test-js/metadata/check-metadata.el
Labels: none

Add jest package
  package-lock.json
  package.json
Labels: none

Add mini.pkg.1 to test-js/
  test-js/mini.pkg.1/Eask
  test-js/mini.pkg.1/RADME.md
  test-js/mini.pkg.1/files/mini.pkg.1-1.el
  test-js/mini.pkg.1/files/mini.pkg.1-2.el
  test-js/mini.pkg.1/mini.pkg.1.el
Labels: none

Add exec.test.js
  test-js/exec.test.js
  test-js/exec/.gitignore
  test-js/exec/Eask
  test-js/exec/bin/github-elpa.bat
  test-js/exec/exec.el
  test-js/exec/test/test-dummy.el
Labels: none

Add emacsVersion helper
  test-js/helpers.js
Labels: none

NPM script to reset test environments
  package.json
Labels: none

Add some doco to helpers.js
  test-js/helpers.js
Labels: none

Add test-ert.test.js
  test-js/ert/.gitignore
  test-js/ert/Eask
  test-js/ert/test-nil-message/ert-test.el
  test-js/ert/test/ert-test.el
  test-js/test-ert.test.js
Labels: none

Update analyze.test.js with TestContext
  test-js/analyze.test.js
Labels: none

Update bug descriptions in link.test.js
  test-js/link.test.js
Labels: none

Teardown global env when ALLOW_UNSAFE is true
  test-js/global.test.js
Labels: none

Add test-ert-runner.test.js
  test-js/ert-runner/.gitignore
  test-js/ert-runner/Eask
  test-js/ert-runner/test/ert-runner-test.el
  test-js/test-ert-runner.test.js
Labels: none

Sanitize windows style paths
  test-js/helpers.js
  test-js/helpers.test.js
Labels: none

Fix config.test.js
  test-js/config.test.js
Labels: none

Add test-ecukes.test.js
  test-js/ecukes/Eask
  test-js/ecukes/features/foo.feature
  test-js/ecukes/features/step-definitions/ecukes-steps.el
  test-js/ecukes/features/support/env.el
  test-js/test-ecukes.test.js
Labels: none

Add buttercup.test.js
  test-js/buttercup.test.js
  test-js/buttercup/.gitignore
  test-js/buttercup/Eask
  test-js/buttercup/test-fail/buttercup-test.el
  test-js/buttercup/test-ok/buttercup-test.el
Labels: none

Add some file helpers
  test-js/helpers.js
Labels: none

Add output transformation helper
  test-js/helpers.js
Labels: none

Add emacs.test.js
  test-js/emacs.test.js
Labels: none

Log cmd output when DEBUG is set
  package.json
  test-js/helpers.js
Labels: none

Add local.test.js
  test-js/local.test.js
  test-js/local/Eask
  test-js/local/RADME.md
  test-js/local/files/mini.pkg.1-1.el
  test-js/local/files/mini.pkg.1-2.el
  test-js/local/mini.pkg.1.el
Labels: none

Remove local timeouts in test files
  test-js/buttercup.test.js
  test-js/config.test.js
  test-js/exec.test.js
  test-js/exit-status.test.js
  test-js/global.test.js
  test-js/install.test.js
  test-js/link.test.js
  test-js/local.test.js
  test-js/outdated.test.js
  test-js/test-ecukes.test.js
  test-js/test-ert-runner.test.js
Labels: none

Check result of commands in install.test.js
  test-js/install.test.js
Labels: none

Move upgrade-eask test to own file
  test-js/local.test.js
  test-js/upgrade-eask.test.js
Labels: none

.github/labeler.yml:

documentation:
  - docs/**/*
  - README.md
  - CHANGELOG.md

CI:
  - .github/**/*
