Repository emacs-eask/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, CI

.github/labeler.yml:

documentation:
  - docs/**/*
  - README.md
  - CHANGELOG.md

CI:
  - .github/**/*

Update _index.zh-tw.md
  docs/content/_index.zh-tw.md
Labels: documentation

feat(lisp): Generate workflos for Emacs 30.1
  lisp/generate/workflow/circle-ci.el
  lisp/generate/workflow/github.el
  lisp/generate/workflow/gitlab.el
  lisp/generate/workflow/travis-ci.el
Labels: none

docs: Update CI/CD examples for Emacs 30.1
  docs/content/Continuous-Integration/CircleCI/_index.en.md
  docs/content/Continuous-Integration/CircleCI/_index.zh-tw.md
  docs/content/Continuous-Integration/GitHub-Actions/_index.en.md
  docs/content/Continuous-Integration/GitHub-Actions/_index.zh-tw.md
  docs/content/Continuous-Integration/GitLab-Runner/_index.en.md
  docs/content/Continuous-Integration/GitLab-Runner/_index.zh-tw.md
  docs/content/Continuous-Integration/Travis-CI/_index.en.md
  docs/content/Continuous-Integration/Travis-CI/_index.zh-tw.md
Labels: documentation

ci: Test Emacs 30.1
  .github/workflows/analyze.yml
  .github/workflows/compat.yml
  .github/workflows/compile.yml
  .github/workflows/config.yml
  .github/workflows/deprecated/color.yml
  .github/workflows/deprecated/error.yml
  .github/workflows/emacs.yml
  .github/workflows/exec.yml
  .github/workflows/global.yml
  .github/workflows/install.yml
  .github/workflows/link.yml
  .github/workflows/local.yml
  .github/workflows/options.yml
  .github/workflows/outdated_upgrade.yml
  .github/workflows/search.yml
  .github/workflows/test_buttercup.yml
  .github/workflows/test_ecukes.yml
  .github/workflows/test_ert-runner.yml
  .github/workflows/test_ert.yml
Labels: CI

ci: Test Emacs 30.1 (#300)
  .github/workflows/analyze.yml
  .github/workflows/compat.yml
  .github/workflows/compile.yml
  .github/workflows/config.yml
  .github/workflows/deprecated/color.yml
  .github/workflows/deprecated/error.yml
  .github/workflows/emacs.yml
  .github/workflows/exec.yml
  .github/workflows/global.yml
  .github/workflows/install.yml
  .github/workflows/link.yml
  .github/workflows/local.yml
  .github/workflows/options.yml
  .github/workflows/outdated_upgrade.yml
  .github/workflows/search.yml
  .github/workflows/test_buttercup.yml
  .github/workflows/test_ecukes.yml
  .github/workflows/test_ert-runner.yml
  .github/workflows/test_ert.yml
Labels: CI

feat: Improve Emacs requirement message
  lisp/_prepare.el
Labels: none

feat: Don't handle the Emacs version requirement
  lisp/_prepare.el
Labels: none

docs(FAQ): Package emacs-XX.X is unavailable
  docs/content/FAQ/_index.en.md
  docs/content/FAQ/_index.zh-tw.md
Labels: documentation

ci(test): Fix install tests
  test/commands/install/run.sh
Labels: none

docs: Update news
  docs/content/Getting-Started/Introduction/_index.en.md
Labels: documentation

docs: Remove oldest news; keep 10
  docs/content/Getting-Started/Introduction/_index.en.md
Labels: documentation

docs(intro): Add more reasons to use Eask
  README.md
  docs/content/Getting-Started/Introduction/_index.en.md
  docs/content/Getting-Started/Introduction/_index.zh-tw.md
Labels: documentation

docs(intro): Fix missing emoji
  docs/content/Getting-Started/Introduction/_index.zh-tw.md
Labels: documentation

docs: Add main.js
  docs/static/main.js
Labels: documentation

feat(docs): Add subtitle under title
  docs/layouts/partials/head/custom.html
  docs/static/custom.css
  docs/static/main.js
Labels: documentation

chore(docs): Comment style workaround
  docs/layouts/partials/head/custom.html
Labels: documentation

docs(custom.html): Load more level for language other than English
  docs/layouts/partials/head/custom.html
Labels: documentation

docs: Avoid identifier has already been declared error
  docs/static/main.js
Labels: documentation

docs(FAQ): Why JS?
  docs/content/FAQ/_index.en.md
  docs/content/FAQ/_index.zh-tw.md
Labels: documentation

docs: Improve intro
  README.md
  docs/content/Getting-Started/Introduction/_index.en.md
  docs/content/Getting-Started/Introduction/_index.zh-tw.md
Labels: documentation

Tests for testing subcommands
  test/exit-status/test/Eask
  test/exit-status/test/activate/Eask
  test/exit-status/test/activate/test-activate.el
  test/exit-status/test/buttercup/Eask
  test/exit-status/test/buttercup/test-fail.el
  test/exit-status/test/buttercup/test-feature.el
  test/exit-status/test/buttercup/test-warn.el
  test/exit-status/test/ecukes/Eask
  test/exit-status/test/ecukes/features/bad.feature
  test/exit-status/test/ecukes/features/foo.feature
  test/exit-status/test/ecukes/features/step-definitions/ecukes-steps.el
  test/exit-status/test/ecukes/features/support/env.el
  test/exit-status/test/empty/Eask
  test/exit-status/test/melpazoid-fail/bad-package-version.el
  test/exit-status/test/melpazoid-warn/checkdoc-fail.el
  test/exit-status/test/run.sh
  test/exit-status/test/test/ert-fail-test.el
  test/exit-status/test/test/ert-test.el
Labels: none

test install package
  test/exit-status/install/Eask
  test/exit-status/install/run.sh
Labels: none

Fix order of args in should_match
  test/fixtures/home/scripts/testing.sh
Labels: none

Moved test to test/exit-status
  test/exit-status/analyze/Eask-error
  test/exit-status/analyze/Eask-normal
  test/exit-status/analyze/Eask-warn
  test/exit-status/analyze/run.sh
Labels: none

fix: typo in ert help
  lisp/help/test/ert
Labels: none

Test lint command
  test/exit-status/lint/Eask
  test/exit-status/lint/checkdoc-fail.el
  test/exit-status/lint/declare-fail.el
  test/exit-status/lint/declare-ok.el
  test/exit-status/lint/elisp-lint-ok.el
  test/exit-status/lint/elsa-warn.el
  test/exit-status/lint/indent-warn.el
  test/exit-status/lint/lint-pkg.el
  test/exit-status/lint/regexp-warn.el
  test/exit-status/lint/run.sh
Labels: none

Test install-deps command
  test/exit-status/install-deps/Eask
  test/exit-status/install-deps/run.sh
Labels: none

Test create command
  test/exit-status/create/foo/.gitkeep
  test/exit-status/create/run.sh
Labels: none

Test format command
  test/exit-status/format/Eask
  test/exit-status/format/empty/.gitkeep
  test/exit-status/format/fail.el
  test/exit-status/format/mock.el
  test/exit-status/format/run.sh
Labels: none

Test errors in eval command
  test/exit-status/eval/Eask
  test/exit-status/eval/run.sh
Labels: none

Add an extra workflow for exit-status tests
  .github/workflows/test_exit-status.yml
  Makefile
Labels: CI

Test reinstall command
  test/exit-status/reinstall/Eask
  test/exit-status/reinstall/lint.el
  test/exit-status/reinstall/run.sh
Labels: none

Test compile command
  test/exit-status/compile/Eask
  test/exit-status/compile/empty/.gitkeep
  test/exit-status/compile/fail.el
  test/exit-status/compile/mock.el
  test/exit-status/compile/run.sh
Labels: none

Test command refresh
  test/exit-status/refresh/bad/Eask
  test/exit-status/refresh/good/Eask
  test/exit-status/refresh/run.sh
Labels: none

Add exit code tests for analyze command
  test/commands/analyze/Eask-error
  test/commands/analyze/Eask-normal
  test/commands/analyze/Eask-warn
  test/commands/analyze/run.sh
  test/fixtures/home/scripts/testing.sh
Labels: none

Test run command
  test/exit-status/run/Eask
  test/exit-status/run/lint.el
  test/exit-status/run/no-scripts/Eask
  test/exit-status/run/run.sh
Labels: none

Test package command
  test/exit-status/package/Eask
  test/exit-status/package/lint-pkg.el
  test/exit-status/package/lint.el
  test/exit-status/package/run.sh
Labels: none

Test link command
  test/exit-status/link/Eask
  test/exit-status/link/run.sh
Labels: none

Test load command
  test/exit-status/load/Eask
  test/exit-status/load/declare-ok.el
  test/exit-status/load/lint-pkg.el
  test/exit-status/load/run.sh
Labels: none

Test errors in clean command
  test/exit-status/clean/Eask
  test/exit-status/clean/mock.el
  test/exit-status/clean/run.sh
Labels: none
