Repository emacs-eask/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, CI

Check for global Easkfile in info -g test
  test-js/options.test.js
Labels: none

Add search.test.js
  test-js/search.test.js
  test-js/search/.gitignore
  test-js/search/Eask
Labels: none

Add options.test.js
  test-js/options.test.js
  test-js/options/.gitignore
  test-js/options/Eask
Labels: none

Add outdated.test.js
  test-js/outdated.test.js
  test-js/outdated_upgrade/.gitignore
  test-js/outdated_upgrade/Eask
  test-js/outdated_upgrade/make-outdate.el
Labels: none

Add link.test.js
  test-js/link.test.js
  test-js/link/.gitkeep
  test-js/link/Eask
Labels: none

Simplify options.test.js using test table
  test-js/options.test.js
Labels: none

Update doco with snapshot example
  docs/content/Contributing/Testing/_index.en.md
Labels: documentation

Disable js-elpa in install.test.js to speed up test
  test-js/install/Eask
Labels: none

Add examples of snapshots to analyze.test.js
  test-js/__snapshots__/analyze.test.js.snap
  test-js/analyze.test.js
Labels: none

Add removeFiles helper method
  test-js/helpers.js
Labels: none

fix: add some comments
  test-js/emacs.test.js
  test-js/exec.test.js
  test-js/local.test.js
Labels: none

Tidy up generated files in local.test.js
  test-js/local.test.js
Labels: none

Add default timeout and message when cmd is killed
  package.json
  test-js/helpers.js
Labels: none

Tidy up log formatting
  test-js/helpers.js
Labels: none

Add exit-status tests
  test-js/exit-status.test.js
Labels: none

Sketch of doco page
  docs/content/Contributing/Testing/_index.en.md
Labels: documentation

global.test.js should create ~/Eask
  test-js/global.test.js
  test-js/global/Eask
Labels: none

Add docker.test.js
  test-js/docker.test.js
  test-js/docker/Eask
  test-js/docker/RADME.md
  test-js/docker/files/mini.pkg.1-1.el
  test-js/docker/files/mini.pkg.1-2.el
  test-js/docker/mini.pkg.1.el
Labels: none

Add comprehensive tests to link.test.js
  test-js/link.test.js
  test-js/link/link-fail/Eask
  test-js/link/link-fail/RADME.md
  test-js/link/link-fail/files/mini.pkg.1-1.el
  test-js/link/link-fail/files/mini.pkg.1-2.el
  test-js/link/link-fail/mini.pkg.1.el
  test-js/link/link-to/Eask
  test-js/link/link-to/link-to.el
Labels: none

fix: try using double quotes to fix windows issue in exec.test.js
  test-js/exec.test.js
Labels: none

Example of exit code matching
  test-js/link.test.js
Labels: none

config.test.js should create ~/.emacs.d/init.el
  test-js/config.test.js
  test-js/config/init.el
Labels: none

Add TestContext class and simplify exec.test.js
  test-js/exec.test.js
  test-js/helpers.js
Labels: none

Add global.test.js
  test-js/global.test.js
Labels: none

Add install.test.js
  test-js/install.test.js
  test-js/install/Eask
  test-js/install/RADME.md
  test-js/install/files/mini.pkg.1-1.el
  test-js/install/files/mini.pkg.1-2.el
  test-js/install/mini.pkg.1.el
Labels: none

docs: comment on boolean env vars
  docs/content/Contributing/Testing/_index.en.md
Labels: documentation

Update local patch test-js => test/jest
  docs/content/Contributing/Testing/_index.en.md
  package.json
  test/jest/analyze.test.js
  test/jest/buttercup.test.js
  test/jest/config.test.js
  test/jest/docker.test.js
  test/jest/emacs.test.js
  test/jest/exec.test.js
  test/jest/exit-status.test.js
  test/jest/global.test.js
  test/jest/helpers.test.js
  test/jest/install.test.js
  test/jest/link.test.js
  test/jest/local.test.js
  test/jest/options.test.js
  test/jest/outdated.test.js
  test/jest/search.test.js
  test/jest/test-ecukes.test.js
  test/jest/test-ert-runner.test.js
  test/jest/test-ert.test.js
Labels: documentation

Increase docker.test.js timeout
  test/jest/docker.test.js
Labels: none

Tweak timeouts of local.test.js
  test/jest/local.test.js
  test/jest/local/Eask
Labels: none

rename npm script test-docker to test-ci
  package.json
Labels: none

Only run eask loc on emacs >= 28.1
  test/jest/local.test.js
Labels: none

In config.test.js throw if init.el exists
  test/jest/config.test.js
Labels: none

use jest tests in workflows
  .github/workflows/analyze.yml
  .github/workflows/config.yml
  .github/workflows/docker.yml
  .github/workflows/emacs.yml
  .github/workflows/exec.yml
  .github/workflows/exit_status.yml
  .github/workflows/global.yml
  .github/workflows/install.yml
  .github/workflows/link.yml
  .github/workflows/local.yml
  .github/workflows/options.yml
  .github/workflows/outdated_upgrade.yml
  .github/workflows/search.yml
  .github/workflows/test_buttercup.yml
  .github/workflows/test_ecukes.yml
  .github/workflows/test_ert-runner.yml
  .github/workflows/test_ert.yml
Labels: CI

Add workflow for upgrade-eask test
  .github/workflows/upgrade-eask.yml
Labels: CI

Increase timeout in config.test.js
  test/jest/config.test.js
Labels: none

docs: add method doco to helpers.js
  test/jest/helpers.js
Labels: none

docs: Add sections on snapshots and timeouts
  docs/content/Contributing/Testing/_index.en.md
Labels: documentation

docs: move Testing page onto "Developing Eask" page
  docs/content/Contributing/Developing-Eask/_index.en.md
  docs/content/Contributing/Testing/_index.en.md
Labels: documentation

style: Fix h2 headers
  docs/content/Contributing/Documentation/_index.en.md
  docs/content/Contributing/Documentation/_index.zh-tw.md
Labels: documentation

Rename buttercup.test.js and outdated.test.js consistently
  .github/workflows/outdated_upgrade.yml
  .github/workflows/test_buttercup.yml
  test/jest/outdated-upgrade.test.js
  test/jest/outdated-upgrade/.gitignore
  test/jest/outdated-upgrade/Eask
  test/jest/outdated-upgrade/make-outdate.el
  test/jest/test-buttercup.test.js
Labels: CI

.github/labeler.yml:

documentation:
  - docs/**/*
  - README.md
  - CHANGELOG.md

CI:
  - .github/**/*
