Repository emacs-eask/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, CI

Test uninstall command
  test/exit-status/uninstall/Eask
  test/exit-status/uninstall/lint.el
  test/exit-status/uninstall/run.sh
Labels: none

Add generate tests
  test/exit-status/generate/Eask
  test/exit-status/generate/fail.el
  test/exit-status/generate/mock.el
  test/exit-status/generate/run.sh
Labels: none

Add valid package fixture
  test/exit-status/fixtures/valid/Eask
  test/exit-status/fixtures/valid/foo.el
  test/exit-status/fixtures/valid/valid-package-pkg.el
Labels: none

Fix: typo in some error messages
  lisp/_prepare.el
Labels: none

feat: Revert printing behaviour when loading user files
  lisp/_prepare.el
Labels: none

fix: Ensure avoid file messages
  lisp/_prepare.el
Labels: none

docs(FAQ): Mention Eask is an Elisp file
  docs/content/FAQ/_index.en.md
  docs/content/FAQ/_index.zh-tw.md
Labels: documentation

Fix: minor style changes in lisp/help files
  lisp/help/core/analyze
  lisp/help/core/concat
  lisp/help/core/docs
  lisp/help/core/eval
  lisp/help/core/exec
  lisp/help/core/info
  lisp/help/core/install-deps
  lisp/help/core/recipe
  lisp/help/core/reinstall
  lisp/help/core/search
  lisp/help/core/uninstall
  lisp/help/format/elfmt
  lisp/help/format/elisp-autofmt
  lisp/help/link/add/error
  lisp/help/lint/checkdoc
  lisp/help/lint/declare
  lisp/help/lint/elint
  lisp/help/lint/elisp-lint
  lisp/help/lint/elsa
  lisp/help/lint/indent
  lisp/help/lint/package
  lisp/help/lint/regexps
  lisp/help/run/command
  lisp/help/source/add
  lisp/help/test/ert
  lisp/help/test/melpazoid
Labels: none

Add exit-code param to eask--exit
  lisp/_prepare.el
Labels: none

Fix: typo in run script cli doc
  cmds/run/script.js
Labels: none

Only run Help-Exit job on emacs 30.1
  .github/workflows/help_exit.yml
Labels: CI

Add CI job to test exit status in help commands
  .github/workflows/help_exit.yml
  Makefile
Labels: CI

Fix: bad help file link for analyze command
  lisp/core/analyze.el
Labels: none

Add exit-code param to eask-help
  lisp/_prepare.el
  lisp/link/add.el
Labels: none

Fix some CI errors
  test/fixtures/mini.pkg.1/Eask
  test/fixtures/mini.pkg.1/mini.pkg.1.el
  test/options/run.sh
Labels: none

Add tests for exit status when displaying help message
  Makefile
  test/commands/analyze/error/run.sh
  test/commands/bump/run.sh
  test/commands/compile/run.sh
  test/commands/concat/run.sh
  test/commands/docs/run.sh
  test/commands/eval/run.sh
  test/commands/exec/run.sh
  test/commands/format/run.sh
  test/commands/info/run.sh
  test/commands/init/run.sh
  test/commands/link/run.sh
  test/commands/lint/run.sh
  test/commands/recipe/run.sh
  test/commands/run/run.sh
  test/commands/search/run.sh
  test/commands/source/run.sh
  test/commands/test/ert/run.sh
  test/fixtures/home/scripts/testing.sh
Labels: none

chore: Fix copyright year
  test/commands/analyze/error/run.sh
  test/commands/bump/run.sh
  test/commands/compile/run.sh
  test/commands/concat/run.sh
  test/commands/docs/run.sh
  test/commands/eval/run.sh
  test/commands/format/run.sh
  test/commands/info/run.sh
  test/commands/init/run.sh
  test/commands/lint/run.sh
  test/commands/recipe/run.sh
  test/commands/run/run.sh
  test/commands/source/run.sh
Labels: none

chore: Add copyright info
  test/fixtures/home/scripts/testing.sh
Labels: none

style: Remove extra newlines
  lisp/help/lint/elisp-lint
  lisp/help/lint/indent
Labels: none

test: Rename help-exit test to error status
  .github/workflows/exit_status.yml
  Makefile
Labels: CI

docs: Add exit status test badge
  README.md
Labels: documentation

docs: Document eask-help params
  docs/content/Development-API/_index.en.md
  docs/content/Development-API/_index.zh-tw.md
Labels: documentation

docs: Update eask--exit
  docs/content/Development-API/_index.en.md
  docs/content/Development-API/_index.zh-tw.md
Labels: documentation

chore: Changelog
  CHANGELOG.md
Labels: documentation

Port analyze tests
  test-js/analyze.test.js
  test-js/dsl/.gitignore
  test-js/dsl/Eask
  test-js/dsl/check-dsl.el
  test-js/empty/.gitkeep
  test-js/metadata/.gitignore
  test-js/metadata/Eask
  test-js/metadata/check-metadata.el
Labels: none

Add link.test.js
  test-js/link.test.js
Labels: none

Add mini.pkg.1 to test-js/
  test-js/mini.pkg.1/Eask
  test-js/mini.pkg.1/RADME.md
  test-js/mini.pkg.1/files/mini.pkg.1-1.el
  test-js/mini.pkg.1/files/mini.pkg.1-2.el
  test-js/mini.pkg.1/mini.pkg.1.el
Labels: none

Add testUnsafe helper and config.test.js
  package.json
  test-js/config.test.js
  test-js/helpers.js
Labels: none

Add exec.test.js
  test-js/exec.test.js
  test-js/exec/.gitignore
  test-js/exec/Eask
  test-js/exec/bin/github-elpa.bat
  test-js/exec/exec.el
  test-js/exec/test/test-dummy.el
Labels: none

Add jest package
  package-lock.json
  package.json
Labels: none

Add options.test.js
  test-js/options.test.js
  test-js/options/.gitignore
  test-js/options/Eask
Labels: none

Add search.test.js
  test-js/search.test.js
  test-js/search/.gitignore
  test-js/search/Eask
Labels: none

Add outdated.test.js
  test-js/outdated.test.js
  test-js/outdated_upgrade/.gitignore
  test-js/outdated_upgrade/Eask
  test-js/outdated_upgrade/make-outdate.el
Labels: none

Add emacsVersion helper
  test-js/helpers.js
Labels: none

Add emacs.test.js
  test-js/emacs.test.js
Labels: none

NPM script to reset test environments
  package.json
Labels: none

Add buttercup.test.js
  test-js/buttercup.test.js
  test-js/buttercup/.gitignore
  test-js/buttercup/Eask
  test-js/buttercup/test-fail/buttercup-test.el
  test-js/buttercup/test-ok/buttercup-test.el
Labels: none

Remove duplicated workflows
  .github/workflows/analyze.yml
  .github/workflows/config.yml
  .github/workflows/emacs.yml
  .github/workflows/exec.yml
  .github/workflows/link.yml
  .github/workflows/options.yml
  .github/workflows/outdated_upgrade.yml
  .github/workflows/search.yml
  .github/workflows/test_buttercup.yml
Labels: CI

Add jest workflow
  .github/workflows/jest.yml
Labels: CI

Add TestContext class and simplify exec.test.js
  test-js/exec.test.js
  test-js/helpers.js
Labels: none

.github/labeler.yml:

documentation:
  - docs/**/*
  - README.md
  - CHANGELOG.md

CI:
  - .github/**/*
