Repository emacs-eask/cli, pull requests merged in 2022-06, with the labels that each got.

#35 Add regression tests for linting module
  test/mini.emacs.pkg/Eask
  test/mini.emacs.pkg/mini.emacs.pkg.el
Labels: CI

#38 time-convert compat check
  lisp/extern/package-recipe.el
  test/commands/local/run.sh
  test/development/compat.el
Labels: bug, CI

#41 fix(create): honour version and emacs_version
  lisp/_prepare.el
  lisp/core/create.el
Labels: bug

#42 Add bug-reference-bug-mode reference to FAQ
  .dir-locals.el
  docs/content/en/FAQ/_index.md
Labels: documentation

#44 Fix some more typos
  cmds/core/concat.js
  cmds/core/exec.js
  cmds/core/package.js
  docs/content/en/Contributing/Developing Eask.md
  docs/content/en/Contributing/Documentation.md
  docs/content/en/Contributing/State of the Project.md
  docs/content/en/FAQ/_index.md
  docs/content/en/Getting Started/Advanced Usage.md
  docs/content/en/Getting Started/Basic Usage.md
  docs/content/en/Getting Started/Commands and options.md
  docs/content/en/Getting Started/Quick Start.md
  docs/content/en/Implementation/CLI & Yargs.md
  docs/content/en/Implementation/Elisp script.md
  docs/content/en/Implementation/_index.md
  docs/content/en/License/_index.md
  docs/content/en/Troubleshooting/_index.md
  docs/content/en/_index.md
  lisp/_prepare.el
  lisp/core/concat.el
  lisp/core/install.el
  lisp/core/package.el
Labels: documentation

#45 docs(general): make it more compact
  docs/content/en/Continuous Integration/_index.md
  docs/content/en/Contributing/Code of Conduct.md
  docs/content/en/Contributing/Codebase-Overview/_index.md
  docs/content/en/Contributing/Codebase-Overview/flowchart/execution_order.png
  docs/content/en/Contributing/How to Contribute.md
  docs/content/en/Contributing/State of the Project.md
  docs/content/en/Contributing/_index.md
  docs/content/en/Development API/_index.md
  docs/content/en/Examples/_index.md
  docs/content/en/FAQ/_index.md
  docs/content/en/Getting Started/_index.md
  docs/content/en/Implementation/CLI & Yargs.md
  docs/content/en/Implementation/Elisp script.md
  docs/content/en/Implementation/Project-Structure/_index.md
  docs/content/en/Implementation/_index.md
Labels: documentation

#46 feat(emacs): add emacs command
  .github/workflows/emacs.yml
  Makefile
  README.md
  cmds/core/emacs.js
  docs/content/en/Getting Started/Basic Usage.md
  docs/content/en/Getting Started/Commands and options.md
  lisp/_prepare.el
  lisp/core/concat.el
  lisp/core/emacs.el
  src/util.js
  test/commands/emacs/run.sh
Labels: enhancement

#49 feat(dsl): add two new DSL; `website-url` and `keywords`
  CHANGELOG.md
  cmds/core/create.js
  cmds/core/init.js
  docs/content/en/DSL/_index.md
  docs/content/en/_index.md
  lisp/_prepare.el
  lisp/core/create.el
  lisp/core/info.el
  lisp/core/recipe.el
Labels: enhancement

#51 test(ci): update test Eask-file
  test/checker/dsl/Eask
  test/checker/dsl/check-dsl.el
  test/checker/metadata/Eask
  test/checker/metadata/check-metadata.el
  test/commands/exec/Eask
  test/commands/exec/exec.el
  test/mini.emacs.pkg/Eask
  test/mini.emacs.pkg/mini.emacs.pkg.el
  test/options/Eask
Labels: CI
